body {
  padding-top: 200px;
  font-family: helvetica, sans-serif;
  font-weight: 100;
}

h1 {
  text-align: center;
}
img {
  float: left;
}

.sidebar {
  width: 40%;
  float: right;
  background-color: #C9DBFF;
}

.column {
  width: 300px;
  float: right;
}
